name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3
      - name: Setup Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: 3.11
      - name: Run release notes script
        id: release_notes
        run: |
          python -m pip install --upgrade pip
          RELEASE_NOTES=$(python scripts/generate_release_notes.py)
          echo "::set-output name=release_notes::$RELEASE_NOTES"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.1.4
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.release_notes.outputs.release_notes }}
          draft: false
          prerelease: false